{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/generator.css') }}">
{% endblock head %}
{% block title %}{{title}}{% endblock %}

{% block content %}
        <h1>Generate a short url!</h1>
        <section id="generator">
            <form id="submission" action="/generate" method="POST">
                <span>URL to shorten:</span>
                <input type="url" id="input_url" name="input_url" placeholder="https://www.example.com">
                <input type="submit" id="generatorSubmit" value='GEN'>
            </form>
            {% if shortUrl and base_url %}
                <div id="result">
                    <span>Your shortened URL:</span>
                    <a id="shortUrl" target='_blank' href='{{base_url}}visit/{{shortUrl}}'>{{base_url}}visit/{{shortUrl}}</a>
                </div>
            {% endif %}
        </section>
{% endblock %}